# For projects using Nanoc (http://nanoc.ws/)

# Default location for output (needs to match output_dir's value found in nanoc.yaml)
output/

# Temporary file directory
tmp/nanoc/

# Crash Log
crash.log
/.gradle
/.idea
*.class
*.class
*.class
/external data and info/design and sprite/craftpix-net-567576-medieval-household-items-32x32-pixel-art-icons
/external data and info/design and sprite/tools_icons
assets/Background_Image/Scary2.jpg
*.html
*.uniqueId1
/core/build/tmp
/core/build/tmp
*.bin
/external data and info/PixelArt package
build/reports/problems/problems-report.html
core/build/libs/core-1.0.0.jar
core/build/tmp/compileJava/previous-compilation-data.bin
core/src/main/java/io/github/eco_warrior/Main.java
lwjgl3/build/tmp/compileJava/previous-compilation-data.bin
core/build/libs/core-1.0.0.jar
core/build/libs/core-1.0.0.jar
/lwjgl3
*.css
*.idx
*.tar
core/build/tmp/jar/MANIFEST.MF
lwjgl3/build/tmp/compileJava/previous-compilation-data.bin
/core/build/tmp/jar
