# For projects using Nanoc (http://nanoc.ws/)

# Default location for output (needs to match output_dir's value found in nanoc.yaml)
output/

# Temporary file directory
tmp/nanoc/

# Crash Log
crash.log
/.gradle
/.idea
*.class
*.class
*.class
/external data and info/design and sprite/craftpix-net-567576-medieval-household-items-32x32-pixel-art-icons
/external data and info/design and sprite/tools_icons
